

*{
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
}

#Design{
  height: 100vh;
  background-position: center center;
background-image: url('./Components/weatherimg/mist.jpg');
}

#sunriseDiv{
  font-size: 2em;
}

#sunset , #sunrise{
  height: 30px ;
  width: 30px ;
}


#maxTemp , #minTemp{
height: 50px;

}
